body {
	background: black;
	color: #999;
	padding-top: 50px;
}
select {
	font-size: 12pt;
}
#main-app {
	position: relative;
}
.clear {
	clear: both;
}
input[type=range][orient=vertical] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
    margin-left: 2px;
}
.modal-view {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .5);
}
.modal-view input {
	width: 100%;
	padding: .5em;
	border-radius: 5px;
	background: #222;
	color: white;
	margin-bottom: .25em;
	border: 1px solid #555;
	display: inline-block;
}
.modal-view input[type="checkbox"] {
	display: inline;
	width: 30px;
}
.modal-view.hidden {
	display: none;
}
.modal-view .btn-warning {
	margin-right: 1.5em;
}
.modal-view .dialog {
	background: #444;
	padding: 2em;
	margin: 10em;
	border-radius: 10px;
}
.color-manager {
	position: fixed;
	top: 50px;
	left: 0;
	bottom: 0;
	width: 300px;
	background: #888;
	transition: left .25s ease-out;
	color: black;
	overflow: scroll;
    padding: 1em;
}
.color-manager.hide-color-manager {
	left: -300px;
}
.color-manager .palette-mapping-disabled {
	display: none;
}
.color-manager .swatch {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid black;
}
.trixelator {
	background: #333;
}
.image-preview {
	position: relative;
}
.image-preview .subselector-overlay {
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 25px;
	right: 25px;
	background: rgba(0, 0, 0, .25);
}
.image-preview img {
	border: 1px solid #444;
	padding: 10px;
	background: #555;
	width: 100%;
	min-height: 350px;
}
.mosaic-output svg {
	border: 1px solid #444;
	padding: 10px;
	background: #555;
	width: 100%;
	min-height: 200px;
}
.row.inputs {
	text-align: center;
	position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    background: #333333;
    right: 0;
    height: 50px;
    overflow: hidden;
}
.row.inputs input {
	margin-right: 1em;
	margin-left: .25em;
	border-radius: 5px;
	background: black;
	color: white;
	border: 1px solid #999;
	padding: .25em .75em;
	width: 75px;
}
.trixelation {
	position: relative;
}
.pallette-swatch {
	float: left;
	width: 30px;
	height: 30px;
}
.toggle-color-manager-button {
	margin-right: 15px;
}
.toolbar-component {
	margin-top: 10px;
	display: inline-block;
}
.pallette {
	display: none;
}
.color-list {
	list-style: none;
	padding: 0;
}
.color-list li {
	border: 1px solid #666;
    margin-bottom: .25em;
    border-radius: 5px;
	padding: .25em;
	background: #999;
}
.modal-dialog-view .dialog-buttons {
	display: inline-block;
	margin-top: 1em;
}
.siplification-controls {
	margin-top: .75em;
	margin-bottom: 1em;
}
.toggle-color-manager-button .glyphicon, .trixelate-button .glyphicon {
	transform: rotate(-90deg);
}
.focal-input {
	font-size: 12pt;
    background: #AAA;
    border-radius: 5px;
    padding: .5em;
    border: 1px solid #777;
    cursor: pointer;
}
.range-slider {
	position: relative;
	display: inline-block;
	margin: .1em;
}
.range-slider .minor-value {
	position: absolute;
	font-size: 8pt;
	bottom: -15px;
	left: -3px;
}
/*
.image-preview img {
	filter: grayscale(100%);
}
*/