body {
	background: black;
	color: #999;
	padding-top: 50px;
}
.trixelator {
	background: #333;
}
.image-preview img {
	border: 1px solid #444;
	padding: 10px;
	background: #555;
	width: 100%;
	min-height: 350px;
}
.mosaic-output svg {
	border: 1px solid #444;
	padding: 10px;
	background: #555;
	width: 100%;
	min-height: 200px;
}
.row.inputs {
	text-align: center;
	position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    background: #333333;
    right: 0;
    height: 50px;
}
.row.inputs input {
	margin-right: 1em;
	margin-left: .25em;
	border-radius: 5px;
	background: black;
	color: white;
	border: 1px solid #999;
	padding: .25em .75em;
	width: 75px;
}
.trixelation {
	position: relative;
}
/*
.trixel {
	display: inline-block;
	position: absolute;
	border-top: 22px solid #999;
	border-left: 13px solid transparent !important;
	border-right: 13px solid transparent !important;
}
.trixel.point-up {
	border-bottom: 22px solid #999;
	border-top-width: 0;
}
*/
.pallette-swatch {
	float: left;
	width: 30px;
	height: 30px;
}
.select-image-button {
	margin-right: 15px;
}
.toolbar-component {
	margin-top: 10px;
	display: inline-block;
}
.pallette {
	display: none;
}