body {
	background: black;
	color: #999;
}
.trixelator {
	background: #333;
}
.image-preview img {
	border: 1px solid #444;
	padding: 10px;
	background: #555;
	width: 100%;
	min-height: 350px;
}
.image-preview .click-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 50%;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
	cursor: pointer;
	display: none;
	text-align: center;
	font-size: 32pt;
	color: white;
	padding: 90px;
}
.image-preview:hover .click-overlay, .image-preview .click-overlay.show-anyway {
	display: block;
}
.image-preview .click-overlay .glyphicon {
	border: 10px solid white;
	padding: .5em;
	border-radius: 50%;
}
.mosaic-output svg {
	border: 1px solid #444;
	padding: 10px;
	background: #555;
	width: 100%;
	min-height: 200px;
}
.row.inputs {
	text-align: center;
}
.row.inputs input {
	margin-right: 1em;
	margin-left: .25em;
}
.trixelation {
	position: relative;
}
/*
.trixel {
	display: inline-block;
	position: absolute;
	border-top: 22px solid #999;
	border-left: 13px solid transparent !important;
	border-right: 13px solid transparent !important;
}
.trixel.point-up {
	border-bottom: 22px solid #999;
	border-top-width: 0;
}
*/